body{
    background-color: rgb(84, 247, 108);

font-size: 40px;
text-align: justify;
color:rgb(8, 9, 49);
}
h1 { 
    color:rgb(255, 0, 191);
    font-size: 50px;
    text-align: center
    
}